:root {
	background-color: #444;
	height: 100vh;
	width: 100vw;
	position: fixed;
	text-align: center;
	color: #FFF;
	font-family: Consolas, monaco, monospace;
	/*for placeholder only*/
	font-size: 1.5em;
}

/*

Nav Styles

*/

nav a,
footer a {
	text-decoration: none;
	color: #EEE;
	display: inline-block;
	width: 25vw;
	height: 2em;
}

nav a img,
footer a img {
	padding-top: .2em;
	height: 1.5em;
}

a[href="#home"] {
	background-color: #61C1FF;
}

a[href="#write"] {
	background-color: #A74DE8;
}

a[href="#love"] {
	background-color: #4DE867;
}

a[href="#read"] {
	background-color: #FF9D39;
}

/**/

footer {
	position: absolute;
	bottom: 0;
}

footer a {
	width: calc(100vw / 3);
}

a[href="https://keybase.io/kjpark"] {
	background-color: #FB1;
}

a[href="https://twitter.com/jedidiahpark"] {
	background-color: #00aced;
}

a[href="https://github.com/kjpark"] {
	background-color: #222;
}

/*90f*/