:root {
	background-color: #444;
	height: 100vh;
	width: 100vw;
	position: fixed;
	text-align: center;
	color: #FFF;
	font-family: Consolas, monaco, monospace;
	/*for placeholder only*/
	font-size: 1.5vh;
}
.contained {
	width: 90vw;
	margin: 0 auto 0 auto;
}

.header {
	text-align: left;
	background-color: #333;
	line-height: 8vh;
}

/*

Nav Styles

*/

nav a,
footer a {
	text-decoration: none;
	color: #EEE;
	display: inline-block;
	width: 25vw;
	height: 4vh;
}

nav a img,
footer a img {
	height: 3.5vh;
}

a[href="#home"] {
	background-color: #61C1FF;
}

a[href="#write"] {
	background-color: #A74DE8;
}

a[href="#love"] {
	background-color: #4DE867;
}

a[href="#read"] {
	background-color: #FF9D39;
}

/**/

footer {
	position: absolute;
	bottom: 0;
}

footer a {
	width: 33.3333vw;
}

a[href="#keybase"] {
	background-color: #FB1;
}

a[href="#twitter"] {
	background-color: #00aced;
}

a[href="#github"] {
	background-color: #222;
}

/*90f*/